body{
    background-image: url("../img/back.jpg");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    text-align: center;
}
@font-face{
    font-family:yellow_peas;
    src: url("../dump/fonts/yellow_peas-webfont.ttf") format("truetype"),
         url("../dump/fonts/yellow_peas-webfont.woff") format("woff"),
         url("../dump/fonts/yellow_peas-webfont.woff2") format("woff2");
}
h2{
    text-align: center;
    color: rgb(128, 128, 128);
    font-family:yellow_peas;
    font-size: 2.5em;
    letter-spacing: .2em;
}

ol.stl{
   color: rgb(128, 128, 128);
   display: inline-block;
   font-size: 1.5em;
   font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
}

ul.stl{
   color: rgb(128, 128, 128);
   list-style-type: none;
   display: inline-block;
   font-size: 1.5em;
   font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
}

ol.sub{
   color: rgb(128, 128, 128);
   list-style-type: lower-latin;
   font-size: .5em;
   font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
}

li{
    color: rgb(128, 128, 128);
    text-align: left;
    margin:0 0 .75em 0;
}
a:link{
   color: rgb(128, 128, 128);
   text-decoration: none;
}

a:visited{
   color: #c7c7c7;
   text-decoration: none;
}

a:hover{
   color:#333333;
   text-decoration: underline;
   font-size: 1.25em
}

a:active{
    color: #660000;
    text-decoration: underline;
}
